[submodule "include/OOGL"]
	path = include/OOGL
	url = https://github.com/BiscuitsLayer/OOGL.git

[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git

[submodule "include/raytracing-opengl"]
	path = include/raytracing-opengl
	url = https://github.com/engilas/raytracing-opengl.git
	
